.is-editing {
  .tr-counter {
    cursor: move;
  }
}

.tr-counter {
  width: 10px;
}

.tr-account {
  min-width: 400px;
}

.tr-ware {
  min-width: 200px;
  width: 280px;
}

.tr-warehouse {
  min-width: 120px !important;
  width: 180px !important;

}