.is-editing {
  .tr-counter {
    cursor: move;
  }
}

.tr-counter {
  width: 10px;
  padding: 5px !important;
  text-align: center;
}

.tr-account {
  min-width: 400px;
}

.tr-ware {
  min-width: 200px !important;
}

.tr-warehouse {
  min-width: 120px !important;
  width: 180px !important;
}

.tr-city {
  min-width: 120px !important;
  width: 120px !important;
}