.is-editing {
  .tr-counter {
    cursor: move;
  }
}

.tr-counter {
  width: 10px;
}

.tr-account {
  min-width: 570px;
}

.tr-ware {
  width: 280px;
  ;
}

.tr-warehouse {
  width: 180px;
  ;
}