@import './rtl-tree.scss';
@import './exports.scss';
@import './vueTooltip.scss';
@import './rtl.scss';
@import './forms.scss';

html {
  font-size: 15px !important;
}

.v-input {
  font-size: .8vw !important;
}

.w-100px {
  width: 100px;
}

.w-80px {
  width: 80px;
}

.table th,
.table td {
  vertical-align: middle;
}


a {
  text-decoration: none !important;
}

.rounded {
  border-radius: 25%;
}

.circle {
  border-radius: 100%;
}

.rotate-180 {
  transform: rotate(180deg);
}

.pointer {
  cursor: pointer;
}

// tbody tr:nth-of-type(odd) {
//    background-color: rgba(0, 0, 0, .05);
//  }

.app-background-color {
  background-color: #fafafa !important;
  // background-color: #fafafa !important;
}

.v-input--selection-controls {
  margin-top: 0px !important;

}

.v-text-field {
  input {
    font-size: 15px !important;
    padding: 4px 0px;
  }

  textarea {
    font-size: 15px !important;
  }
}

.v-input--is-disabled {
  fieldset {
    background-color: #fafafa !important;
  }

  input[disabled] {
    color: #424242 !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}