* {
  letter-spacing: 0;
}

.v-list-item__action,

.v-list-item__title {
  text-align: right;
}

.ltr {
  direction: ltr;
}


.v-application--is-rtl .v-list-item__action:first-child,
.v-application--is-rtl .v-list-item__icon:first-child {
  margin-left: 0px !important;
}

.v-application--is-rtl .v-text-field--enclosed .v-input__prepend-outer {
  margin-left: 4px !important;
  margin-right: 4px !important;
}


.v-data-table {

  .v-simple-checkbox i {
    font-size: 24px !important;
  }

}

.v-list .v-list-item--active .v-icon {
  fill: currentColor;
}