.fixed-head {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.fixed-head thead tr:nth-child(1) th {
  vertical-align: top;
}

.fixed-head thead tr:nth-child(2) {
  th {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    // position: sticky;
    top: 0;
    background-color: #eee;
    cursor: pointer;
  }
}

.fa-sort {
  color: rgba(0, 0, 0, 0.3);
}

@media print {
  .fixed-head {
    height: auto;
    max-height: none;
  }
}