@import './bootstrap-v4-rtl/bootstrap-rtl.scss';
@import './rtl-tree.scss';
@import './contextMenu.scss';
@import './vueTooltip.scss';
@import './keyValueInfo.scss';

*:not(i) {
  font-family: IRANSans !important;
}

@mixin header() {
  font-size: 1.6rem;
  border-right: 8px solid $primary;
  padding: 7px 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  border-radius: 10px;
}

.title {
  @include header;

  &.secondary {
    font-size: 1.2rem;
    border-right-color: rgba($primary, .65);
  }
}


.vue-form-generator {
  legend {
    @include header;
    margin-right: 15px;
  }
}

.ltr {
  direction: ltr;

  &.input-field label {
    -webkit-transform-origin: top left !important;
    transform-origin: top left !important;
    text-align: left;
  }

  input {
    text-align: left;
  }
}

.btn.submit {
  min-width: 120px;
}

.table {
  &.table-pointer {
    tr {
      cursor: pointer;
    }
  }
}

.title-2 {
  font-size: 1.2em;

  &::after {
    display: block;
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #eee;
  }

  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
}

i.fa-trash-alt {
  cursor: pointer !important;
  transform: all .3s;

  &:hover {
    transform: scale(1.2)
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #eff1f3 !important;
}

.w-100px {
  width: 100px;
}

.table th,
.table td {
  vertical-align: middle;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: 0.85rem !important;
}

.multiselect__single {
  text-align: right;
  margin-bottom: 0px !important;
  white-space: nowrap;
}

.multiselect__tags {
  padding-top: 5px !important;
}

.multiselect,
.multiselect__tags,
.multiselect__select {
  min-height: 30px !important;
  height: 30px !important;
}

.multiselect--active {
  z-index: 100 !important;
}

* {
  outline: none !important;
}

.page-link:focus {
  box-shadow: none !important;
}


table {
  .fa-sort {
    color: rgba(0, 0, 0, 0.3);
  }
}


.btn-label-margin {
  margin-top: 27px;
}

.text-bold {
  font-weight: bold;
}

.custom-control-label {
  padding-top: 3px;
}


.alert {
  padding: 0.75rem .75rem;

  [data-notify=message] {
    float: right;
    padding-right: .75rem;
  }
}
